@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* HERO */
.logo {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

.logo img {
  width: 34%;
  margin: auto;
  padding-block: 0.5rem;
}

.hero {
  background-image: url("../images/banner.jpg");
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-position: 51%;
}

.hero p {
  font-size: 1.2rem;
  padding: 1.3rem 2rem 2rem 2rem;
  line-height: 1.65;
}

h1 {
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  padding-top: 3.5rem;
}

button {
  color: white;
  background-color: #f04c2f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 0.9rem 2.2rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  margin-bottom: 2.5rem;
}

/* MAIN */
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  font-size: 19px;
}

.first-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  padding: 0.8rem 2rem 2rem 2rem;
  line-height: 1.65;
}

.first-section {
  text-align: center;
}

.first-section > div:first-child > h3 {
  padding-top: 4rem;
}

.first-section img {
  width: 67%;
  border-radius: 60%;
  padding-bottom: 2.5rem;
}
