@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* HERO */
.logo {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

.logo img {
  width: 34%;
  margin: auto;
  padding-block: 0.5rem;
}

.hero {
  background-image: url("../images/banner.jpg");
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-position: 51%;
}

.hero p {
  font-size: 19px;
  padding: 1.3rem 2rem 2rem 2rem;
  line-height: 1.65;
}

h1 {
  font-size: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  padding-top: 3.5rem;
}

button {
  color: white;
  background-color: #f04c2f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 0.9rem 2.2rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  margin-bottom: 2.5rem;
}

/* MAIN */
/* FIRST SECTION */
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  font-size: 19px;
}

.first-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  padding: 0.8rem 2rem 2rem 2rem;
  line-height: 1.65;
}

.first-section > div:last-child > p {
  padding-bottom: 4rem;
}

.first-section {
  text-align: center;
}

.first-section > div:first-child > h3 {
  padding-top: 4rem;
}

.first-section img {
  width: 67%;
  border-radius: 60%;
  padding-bottom: 2.5rem;
}
/* MID BANNER */
.mid-banner {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  margin-bottom: 3.8rem;
}

.mid-banner h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1.1px;
  padding-top: 4.3rem;
}

.mid-banner > p:first-of-type {
  font-family: "Open Sans", sans-serif;
  padding: 2.3rem 1.7rem 2rem 1.7rem;
  line-height: 1.65;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-style: italic;
}

.mid-banner p:last-of-type {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 2.7rem;
}

/* SECOND SECTION */
.second-section {
  margin-inline: auto;
  text-align: center;
  margin-bottom: 4rem;
}

.second-section img {
  width: 100%;
}

.second-section h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  font-size: 16px;
  padding: 1.3rem 1.3rem 0.6rem 1.3rem;
}

.second-section p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0 1.5rem 2.4rem 1.5rem;
  line-height: 1.65;
}

.box-1,
.box-2,
.box-3 {
  border: 1px solid #dee1e3;
  margin: 0.5rem 1.6rem 2rem 1.6rem;
  border-radius: 2%;
}

/* FOOTER */
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  text-align: center;
  padding-block: 3rem;
  font-family: "Open Sans", sans-serif;
}

footer h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1.1px;
  padding-bottom: 1.5rem;
}

hr {
  width: 50%;
  margin: auto;
  margin-block: 1.8rem;
}

footer a {
  color: #c8e7f0;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
}

.contact-info {
  letter-spacing: 1.2px;
}
/* Footer: #c8e7f0
Footer link: #c8e7f0 */
